<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>

  <section class="section">
    <div class="container">
      <h1 class="title">{{title}}</h1>
      <div class="content">
        We try to make it easier for you to locate online events in various topics that are happening at a time that is convenient for you.
        <p>
          For each topic and each spoken language we have a page listing all the events.
          Feel free to send us additions and corrections. <a href="https://github.com/szabgab/events/">source</a>.
          Updated at {{now}}.
        </p>


        <ul>
          {% for entry in counts %}
            {% if entry[1] != 0 %}
              <li><a href="/{{ entry[0] | downcase }}">{{ entry[0] }}</a> ({{ entry[1] }})</li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  </body>
</html>

