<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body>

  <section class="section">
    <div class="container">
      <h1 class="title">
        {{title}}
      </h1>
      <div class="content">
        {{content}}
      </div>

      {% for event in events %}
        <div>
          <a href="{{event.url}}">{{event.title}}</a> - <a href="{{event.address}}">{{event.name}}</a>
        </div>
        <div>
          {{event.language}}
          <span class="date">{{event.start}}</span>
        </div>
      {% endfor %}
  </section>
  </body>
</html>

